.body {
    background-color: #f5e4e2;
    font-size: 20px;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    padding-bottom: 120px;
}

.links-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-with-links {
    list-style: none;
}

.list-with-links a {
    color: #e59086;
    font-weight: 700;
    text-decoration: none;
}

.list-with-links li {
    margin-bottom: 10px;
    font-weight: bold;
}

.list-with-links li:last-child {
    margin-top: 10px;
    margin-bottom: 0;
}